USE [master]
GO
/****** Object:  Database [EmployeesDB]    Script Date: 07-05-2019 23:27:13 ******/
CREATE DATABASE [EmployeesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.ANKITSQL\MSSQL\DATA\EmployeesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.ANKITSQL\MSSQL\DATA\EmployeesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeesDB]
GO
USE [EmployeesDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07-05-2019 23:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmpCode] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Office] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
