@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900');  /*font-family: 'Roboto', sans-serif;*/
html, body {margin: 0px; padding: 0px; width: 100%; min-height: 100%; min-height: 100vh; background: #f4f4f4;}
* {outline: none; list-style: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
body {-webkit-font-smoothing: antialiased;  transition: none; -moz-transition: none; -webkit-transition: none; font-family: 'Roboto', sans-serif; overflow-x: hidden; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input {
  margin: 0; padding: 0;  border: 0;  outline: 0; font-size: 100%; vertical-align: baseline; list-style: none; font-family: 'Roboto', sans-serif;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
blockquote, q {quotes: none; }
a{text-decoration: none;}
blockquote:before, blockquote:after, q:before, q:after {content: none; }
@media (min-width: 1025px) {a[href^="tel"] { pointer-events: none; } }
*:focus { outline: none; color: inherit}
.transition{transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
a:hover{text-decoration: none;}

/*  Loader css   */
.loader { display: block; text-align: center; z-index: 9999; position: fixed; top: 0%; bottom: 0; left: 0; right: 0; margin: 0 auto; background: rgba(88, 88, 88, 0.62); width: 100%; height: 100vh; }
.loader .spinner {background: transparent !important; z-index: 9999; text-align: center; margin: 0 auto; position: absolute; top: 40%; left: 46.4%; border: 13px solid #f3f3f3; border-radius: 50%; border-top: 13px solid #3498db; width: 80px; height:80px; -webkit-animation: loaderSpinner 2s linear infinite; animation: loaderSpinner 2s linear infinite; }
.loader.show { display: block; }
.loader.hide { display: none; }
@-webkit-keyframes loaderSpinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loaderSpinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/**************************************************/

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: none; }
::-webkit-scrollbar-thumb {background: rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,.6);}

.pl-0{padding-left:0px!important;}
.pr-0{padding-right:0px!important;}
.pr-15{padding-right:15px!important;}
.mt-20{ margin-top: 20px !important }
.mb-20{ margin-bottom: 20px !important }
.mt-10{ margin-top:10px !important }
.m-0{ margin:0px !important }
.mr-5{margin-right:5px;}
.mr-8{margin-right:8px;}
.w-100{width:100%;}
.clear{ clear:both;}
.textRight{text-align: right !important;}
.loading{ margin:0 auto;  text-align:center;}
.loading img{ margin:0 auto;  text-align:center; width:200px;}
.loading h2{ margin:0 auto;  text-align:center; margin-bottom: 30px} 
.flex{display: flex!important;}

form.emp-form{
    background-color: #dbdbdb;
    border-radius: 4px;
    padding: 10px;
}
div.validation-error{
    color: red;
    text-align: center;
}
button:hover,a.btn:hover{
    cursor: pointer;
}